{% extends "base.html" %}

{% from "macros/card.html" import simple_card, card_body, card_header, card_footer %}
{% from "macros/pagination.html" import pagination %}
{% from "macros/form.html" import form_group %}
{% from "main/partials/shift-instance-partial.html" import shift_instance_partial %}

{% set title = "Shifts" %}
{% set active_route = "main" %}

{% set hide_title_row = True %}

{% block body %}
    <div class="row">
        <div class="col-12 col-lg-6 mb-3 mb-lg-0">
            <div class="row mb-3">
                <div class="col-12">
                    <h2 class="border-bottom mb-0">Upcoming Shifts</h2>
                    <p class="lead">Every day has two shifts—one for the morning and one for the evening.</p>
                    <div class="p-3 mb-4 rounded-2" style="border: 1px solid white;">
                        <p class="lead fw-bold">Mark your shift as completed on this page.</p>
                        <p class="mb-0">This page is for tracking the completion of each shift.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% for shift_instance_model in next_shift_instances %}

                        {% if loop.index0 == 2 %}
                            <p class="d-inline-flex gap-1">
                                <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#next_shifts_collapse">
                                    Toggle future shifts
                                </button>
                            </p>
                        {% endif %}

                        {% if loop.index0 == 2 %}
                            <div class="collapse" id="next_shifts_collapse">
                        {% endif %}

                    {{ shift_instance_partial(shift_instance_model) }}

                    {% if loop.index0 == loop.length - 1 %}
                        </div>
                    {% endif %}

                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="col-12 col-lg-6">
            <div class="row mt-lg-0">
                <div class="col-12">
                    <h2 class="border-bottom mb-0">Previous Shifts</h2>
                    <p class="lead">These are shifts that have already passed. They can be edited up to 1 day back.</p>
                </div>
            </div>
            <div class="row" id="previous-shift-instances">
                <div class="col-12">
                    {% for shift_instance_model in previous_shift_instances.items %}
                        {{ shift_instance_partial(shift_instance_model) }}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {{ pagination(previous_shift_instances, "main.index", suffix="#previous-shift-instances") }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    <script defer src="{{ url_for('static', filename='scripts/shift-instance-date.js') }}"></script>
    <script defer src="{{ url_for('static', filename='scripts/shift-instance-eggs-confirmation.js') }}"></script>
{% endblock %}