{% extends "base.html" %}

{% set title = "Shift Assignments" %}
{% set active_route = "main" %}

{% block body %}
    <div class="row">
        <div class="col">
            <p class="lead">Below is a table of shifts. There are 14 of them (1 morning, 1 evening).</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">

                <table class="table table-dark table-bordered">
                    <thead>
                    <tr>
                        <th scope="row"></th>
                        <th scope="row">Monday</th>
                        <th scope="row">Tuesday</th>
                        <th scope="row">Wednesday</th>
                        <th scope="row">Thursday</th>
                        <th scope="row">Friday</th>
                        <th scope="row">Saturday</th>
                        <th scope="row">Sunday</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for (time, shift_group) in [("Morning", morning_shifts), ("Evening", evening_shifts)] %}
                        <tr>
                            <th>{{ time }}</th>
                            {% for shift in shift_group %}
                                <td>

                                    {{ shift.assigned_to }}
                                    {% if shift.seeking_replacement %}
                                        <br>
                                        <span class="badge bg-success ms-1">AVAILABLE</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}