{% extends "base.html" %}

{% set title = "Shift Assignments Table" %}
{% set active_route = "main" %}

{% block body %}
    <div class="row">
        <div class="col">
            <p class="lead">This table shows who is assigned to each shift. If you don't have a shift and would like
                one, please message the group or text me (Jack) at 847-609-6147.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">

                <table class="table table-dark table-bordered">
                    <thead>
                    <tr>
                        {% for col in ["", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
                            <th scope="col" class="">{{ col }}</th> <!-- Empty cell for alignment -->
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for (time, shift_group) in [("Morning", morning_shifts), ("Evening", evening_shifts)] %}
                        <tr>
                            <th style="border-right: 2px solid white">{{ time }}</th>
                            {% for shift in shift_group %}
                                <td>

                                    {{ shift.assigned_to }}
                                    {% if shift.seeking_replacement %}
                                        <br>
                                        <span class="badge bg-success ms-1">AVAILABLE</span>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>
    </div>

{% endblock %}