{% extends "base.html" %}

{% from "macros/tabs.html" import tab, tabs %}

{% set title = "Admin Users" %}
{% set active_route = "admin" %}
{% set title_row_no_border = True %}

{% block body %}
    <div class="row">
        <div class="col mt-1">
            {% call tabs() %}
                {{ tab(name="Dashboard", url=url_for('admin.index')) }}
                {{ tab(name="Shifts", url=url_for('admin.shifts')) }}
                {{ tab(name="Users", url=url_for('admin.users'), is_active=True) }}
            {% endcall %}
        </div>
    </div>
{% endblock body %}