{% from "macros/card.html" import card_body, simple_card, card_footer, card_header %}
{% from "macros/form.html" import form_group %}

{% macro shift_instance_partial(shift_instance_model) %}

    {% call simple_card(class="mb-4", id=('shift-instance-'+shift_instance_model.shift_instance.shift_instance_id|string)) %}
        {{ card_header(('🌞 ' if shift_instance_model.shift_instance.shift.time_of_day == 1 else '🌚 ') + shift_instance_model.shift_instance.due_date.strftime("%A, %b %e") + ": " +
                                        shift_instance_model.shift_instance.shift.time_of_day|time_of_day_str) }}

        {% call card_body(class="py-3") %}

            <h5 class="mb-0">
                {% if shift_instance_model.shift_instance.completed_timestamp %}
                    <span class="me-2">✅</span> Completed
                    {{ shift_instance_model.shift_instance.completed_timestamp.strftime("%a, %b %e at %l:%M%p") }} by
                    {{ shift_instance_model.shift_instance.completed_by }}
                {% else %}
                    <span class="me-2">❌</span>
                    Not completed
                {% endif %}
            </h5>

            <p class="my-2">
                {% if shift_instance_model.shift_instance.shift.assigned_to %}
                    Person Responsible: <b>{{ shift_instance_model.shift_instance.shift.assigned_to }}</b>
                {% else %}
                    <i class="text-muted">Not assigned</i>
                {% endif %}
            </p>

            {% if shift_instance_model.shift_instance_completed_timestamp_form %}
                <span class="fake-link mt-2 d-inline-block"
                      onclick="toggleShiftInstanceForm({{ shift_instance_model.shift_instance.shift_instance_id }})"
                >
                    Toggle Completion Form
                </span>
            {% endif %}

            {% if shift_instance_model.shift_instance_completed_timestamp_form %}
                <div id="shift-instance-form-container-{{ shift_instance_model.shift_instance.shift_instance_id }}"
                     class="d-none mt-3">
                    <form action="{{ url_for('main.save_shift_instance') }}" method="POST">
                        {{ shift_instance_model.shift_instance_completed_timestamp_form.csrf_token() }}
                        {{ shift_instance_model.shift_instance_completed_timestamp_form.shift_instance_id() }}
                        <div class="d-lg-flex mb-3">
                            {{ form_group(
                                shift_instance_model.shift_instance_completed_timestamp_form,
                                "completed_timestamp",
                                required=True,
                                render_kw={"class": "form-control-sm form-control"},
                                class="me-lg-3 mb-0"
                            ) }}
                            {{ form_group(shift_instance_model.shift_instance_completed_timestamp_form, "completed_by", required=True, class="mt-2 mt-lg-0 mb-0", render_kw={"class": "form-control-sm form-control"}) }}
                            <div class="mt-auto pt-3">
                                {{ shift_instance_model.shift_instance_completed_timestamp_form.submit(class="btn btn-sm btn-success mt-auto ms-lg-3") }}
                                <button class="btn btn-danger btn-sm" hx-replace-url="true" hx-target="body" hx-post="{{ url_for('main.undo_shift_instance', shift_instance_id=shift_instance_model.shift_instance.shift_instance_id) }}">Clear</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}
        {% endcall %}
{#        {% call card_footer(class="") %}#}
{#            <div class="d-flex">#}
{#            </div>#}
{#        {% endcall %}#}
    {% endcall %}

{% endmacro %}