{% extends "base.html" %}

{% from "shifts/partials/shift-signup-tabs-partial.html" import shift_signup_tabs %}
{% from "macros/form.html" import form_group %}
{% from "macros/card.html" import simple_card, card_body, card_header %}
{% from "shifts/partials/specific-shift-instance-signup-form-body-partial.html" import specific_shift_instance_signup_form_body %}


{% set title = "Shift Signups" %}
{% set active_route = "shifts" %}
{% set title_row_no_border = True %}

{% block body %}
    <div class="row">
        <div class="col">
            {{ shift_signup_tabs(2) }}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="mt-2 lead">On this tab, make plans for specific dates.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% call simple_card() %}
                {{ card_header("Sign Up for a Specific Shift") }}
                {% call card_body() %}
                    <form
                        hx-post="{{ url_for('shifts.specific_shift_signup_create_update') }}"
                        hx-target="#specific-shifts-instance-assignments-list"
                        hx-swap="innerHTML"
                        hx-on::after-request="if(event.detail.successful) this.reset()"
                    >
                        {{ form.csrf_token(id="specific-shift-signup-create-csrf") }}
                        {{ specific_shift_instance_signup_form_body(form) }}
                    </form>
                {% endcall %}
            {% endcall %}
            <div style="text-align: center; white-space: nowrap; overflow: hidden;" class="my-3">
                <span style="display: inline-block; width: 100%; font-size: 1.2rem; letter-spacing: 5px;">
                    {% for _ in range(70) %}🐔{% endfor %}
                </span>
            </div>
        </div>
    </div>
    {% include "shifts/partials/specific-shift-instance-signup-list-partial.html" %}
{% endblock %}