$enable-rounded: false;

// https://colors.muz.li/palette/d2b48c/938462/fff9ea/9696d2/696993
$primary: #938462;
$secondary: #696993;
$dark: #212838;
$body-bg-dark: $dark;

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/jack-hermanson-css-lib/src/main";

span.fake-link {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
  cursor: pointer;
  user-select: none;
  &:hover, &:active {
    text-decoration-style: solid;
  }
}