$enable-rounded: false;

// https://colors.muz.li/palette/d2b48c/938462/fff9ea/9696d2/696993
$primary: darken(#938462, 10%);
$secondary: #696993;
$dark: #212838;
$body-bg-dark: darken($dark, 5%);
$nav-link-color: lightgray;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1380px,
  xl: 1400px,
  xxl: 1600px
);
$container-max-widths: (
  sm: 540px,
  md: 1000px,
  lg: 1320px,
  xl: 1390px,
  xxl: 1560px
);

@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/jack-hermanson-css-lib/src/main";

span.fake-link {
  text-decoration: underline;
  text-decoration-style: dashed;
  text-underline-offset: 4px;
  cursor: pointer;
  user-select: none;
  &:hover, &:active {
    text-decoration-style: solid;
  }
}

.card {
  background-color: $dark;
}

.form-group {
  margin-bottom: 1em;
}

.page-title {
  display: flex;
  width: 100%;

  &:not(.no-border-bottom) {
    @extend .border-bottom;
  }

  h2 {
    margin-bottom: 0;
    margin-top: 0.5em;
    display: block;
  }

  .actions {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 0.5em;
  }
}
