{% extends "base.html" %}

{% set title = "Guide for Chicken Shifts" %}
{% set active_route = "guide" %}

{% block body %}
    <div class="row">
        <div class="col">
            <p class="lead">Here is a general guide to help coop members with their shifts.
                If you have any suggestions, questions, or concerns, please feel free to say something in the chat.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <h3>Mornings</h3>
            <p>While shifts have some flexibility due to the automatic door, chickens do like to eat in the morning, so
                please try to arrive to feed them at a decently reasonable time. The door should open automatically around sunset.</p>
            <ol class="lh-lg list-group list-group-numbered">
                <li class="list-group-item"><b>Start at the supply bin.</b> Sanitize your hands, and if you'd like, put
                    on a pair of gloves and
                    use
                    sanitizer with the gloves on too. Switch into one of the provided pairs of shoes.
                </li>
                <li class="list-group-item"><b>Refill waters.</b> This kind of varies by season. In the winter, the
                    spigot next to the chicken
                    enclosure is shut off, so we have to fill jugs by the bin and walk them over to the enclosure. In
                    the summer, you
                    should just be able to use the hose, but try to be careful to avoid making things muddy. If the
                    water
                    container looks dirty, consider bringing it out of the enclosure and rinsing it out where you can do
                    so
                    without making too much mud.
                </li>
                <li class="list-group-item"><b>Refill food.</b> Measure about 5 cups of food from the bucket and fill
                    the feeder, then
                    hang it up on the chain.
                </li>


                <li class="list-group-item"><b>Check the nesting boxes.</b> You may have some eggs waiting for you!
                    There is a hook that you can
                    use
                    to prop the lid open. There might also be eggs in
                    the little box in the bin from the previous shift.
                </li>
                <li class="list-group-item"><b>Inspect and clean.</b> Make sure all 9 chickens are present and looking
                    healthy. Check out the
                    inside
                    of the chicken coop through the larger side door. Consider using
                    the shovel hanging on the side of the coop to pick up chicken poop. Scoop it into the small black
                    pot,
                    and walk that over to the middle compost bin and try to cover it up a bit with leaves. The more
                    often
                    we clean up poop, the easier it is for everyone, and we should get fewer complaints about smell.
                    Consider
                    evening out the pine chips inside the coop and tidying up in there.
                </li>
                <li class="list-group-item"><b>Wrap up.</b> If everything looks good, say your goodbyes to the chickens,
                    carefully exit the
                    enclosure, lock it, and use the rocks at the base of the door. Back at the bin, sanitize the gloves
                    again and
                    neatly put them back
                    (if applicable), sanitize your hands, switch shoes, and lock the bin. Consider tidying things up in
                    there
                    if it's getting messy.
                </li>
                <li class="list-group-item"><b>Communicate.</b> If the chickens are low on food and you refill the
                    bucket, please put a message
                    in the chat. Also, if you have any questions, concerns, observations, or pictures, feel free to
                    share!
                </li>
            </ol>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-lg-8">
            <h3>Evenings</h3>
            <p>The door should close automatically after dark, with a bit of a delay.</p>
            <ol class="lh-lg list-group list-group-numbered">
                <li class="list-group-item"><b>Start at the supply bin.</b> Sanitize your hands, and if you'd like, put
                    on a pair of gloves and
                    use
                    sanitizer with the gloves on too. Switch into one of the provided pairs of shoes.
                </li>
                <li class="list-group-item"><b>(Optional) Turn on lights.</b> There should be a few battery-powered
                    lights in the
                    enclosure
                    for you to use so you don't have to touch your phone while dealing with chickens.
                </li>
                <li class="list-group-item"><b>Check the waters.</b> This kind of varies by season. If the water is
                    still clean, and it's warm
                    out,
                    it's probably fine to leave the waters alone, especially the automatic/gravity water dispensers. If
                    they're dirty (or it's winter - to avoid freezing), we should
                    dump them out.
                </li>
                <li class="list-group-item"><b>Dump remaining food into the bucket.</b> To avoid attracting mice,
                    carefully disassemble the
                    feeder
                    and dump any remaining food back
                    into the bucket. Make sure to close the bucket.
                </li>
                <li class="list-group-item"><b>Check on the chickens.</b> Open the side door and peek inside to make
                    sure they're all present
                    and look okay.
                </li>
                <li class="list-group-item"><b>Check the nesting boxes.</b> The chickens like to lay their eggs during
                    the day, so please leave
                    some for the morning person. Consider taking half of the eggs and leaving the rest for the morning,
                    or placing them
                    in the little box in the bin so the chickens aren't tempted to peck at them.
                </li>
                <li class="list-group-item"><b>Turn off lights (if applicable).</b> Don't want to waste the batteries.
                </li>
                <li class="list-group-item"><b>Wrap up.</b> If everything looks good, say your goodbyes to the chickens,
                    carefully exit the
                    enclosure, lock it, and use the rocks at the base of the door. Back at the bin, sanitize the gloves
                    again and
                    neatly put them back
                    (if applicable), sanitize your hands, switch shoes, and lock the bin. Consider tidying things up in
                    there
                    if it's getting messy.
                </li>
                <li class="list-group-item"><b>Communicate.</b> If the chickens are low on food and you refill the
                    bucket, please put a message
                    in the chat. Also, if you have any questions, concerns, observations, or pictures, feel free to
                    share!
                </li>
            </ol>
        </div>
    </div>
{% endblock body %}