{% from "macros/card.html" import simple_card, card_header, card_body %}
{% from "macros/form.html" import form_group %}

{% call simple_card(class=("mb-4" + (" border-warning" if (assign_shift_view_model.shift.seeking_replacement or not assign_shift_view_model.shift.assigned_to) else "")), id=("shift-" + assign_shift_view_model.shift.shift_id|string)) %}
{#    {{ card_header(assign_shift_view_model.shift.day_of_week|day_of_week_str + ' ' + assign_shift_view_model.shift.time_of_day|time_of_day_str) }}#}
    <div class="card-header">
        <h4 class="card-title mb-0">
            {{ assign_shift_view_model.shift.day_of_week|day_of_week_str }} {{ assign_shift_view_model.shift.time_of_day|time_of_day_str }}
        </h4>
    </div>
    {% call card_body() %}
        {% if alert_message %}
            <div class="alert alert-{{ alert_message[1] }}">
                <p class="mb-0">{{ alert_message[0] }}</p>
            </div>
        {% endif %}
        <form
            hx-post="{{ url_for('shifts.sign_up') }}"
            hx-target="#shift-{{ assign_shift_view_model.shift.shift_id }}"
            hx-swap="outerHTML"
        >
            {{ assign_shift_view_model.assign_shift_form.csrf_token(id="csrf-token-" + assign_shift_view_model.shift.shift_id|string) }}
            {{ assign_shift_view_model.assign_shift_form.shift_id(id="shift-signup-shift-id-" + assign_shift_view_model.shift.shift_id|string) }}
            {{ form_group(assign_shift_view_model.assign_shift_form, "assigned_to", id=("assigned-to-input-" + assign_shift_view_model.shift.shift_id|string)) }}
            <div class="form-group">
{#                <label class="form-label">Options</label>#}
                <div class="form-check">
                    {{ assign_shift_view_model.assign_shift_form.seeking_replacement(class="form-check-input", id=("shift-" + assign_shift_view_model.shift.shift_id|string + "-seeking-replacement")) }}
                    <label class="form-check-label" for="shift-{{ assign_shift_view_model.shift.shift_id|string }}-seeking-replacement" style="user-select: none;">
                        Seeking Replacement
                    </label>
                </div>
                <div class="small form-text text-muted mt-2">{{ assign_shift_view_model.assign_shift_form.seeking_replacement.description }}</div>
            </div>

{#            {{ form_group(assign_shift_view_model.assign_shift_form, "secret_code", id=("shift-signup-secret-code-shift-id-" + assign_shift_view_model.shift.shift_id|string)) }}#}
            {{ assign_shift_view_model.assign_shift_form.submit(class="btn btn-success") }}
        </form>
    {% endcall %}
{% endcall %}