{% from "macros/card.html" import simple_card, card_header, card_body %}
{% from "macros/form.html" import form_group %}

{% macro specific_shift_instance_signup(specific_shift_instance_assignment) %}
    {% call simple_card(class="mb-4", id=("instance-" + (specific_shift_instance_assignment.specific_shift_instance_assignment_id|string) )) %}
        {{ card_header(specific_shift_instance_assignment.instance_date.strftime("%A, %D")) }}
        {% call card_body() %}
            {{ specific_shift_instance_assignment.specific_shift_instance_assignment_id }}
            {{ specific_shift_instance_assignment.instance_assigned_to }}
        {% endcall %}
    {% endcall %}
{% endmacro %}